{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
 <title>Coordinator Data View</title>
 <!-- Required meta tags always come first -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Chart JS CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>

 <!-- Material Design fonts -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Bootstrap Material Design -->
<link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

 <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
<!-- Bootstrap Material Design Drawer w/ Overlay -->
<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
  <header class="bmd-layout-header">
    <div class="navbar navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
        <span class="sr-only">Toggle drawer</span>
        <i class="material-icons">menu</i>
      </button>
      <ul class="nav navbar-nav">
        <li class="nav-item">Coordinator View</li>
      </ul>
    </div>
  </header>
  <div id="dw-s2" class="bmd-layout-drawer bg-faded">
    <header>
      <a class="navbar-brand"></a>
      <img src="{% static 'img/pcwplanelogo.png' %}" class="img-fluid" alt="My responsive image.">
    </header>
    <ul class="list-group">
      <a class="list-group-item">PCW 2018</a>
      {% if request.user.is_staff %}
      <a class="list-group-item" href="{% url 'data' %}">{% trans 'Coordinator View' %}</a>
      {% endif %}
      <a class="list-group-item" href="{% url 'profile' %}">{{user.first_name}} {{user.last_name}}</a>
      <a class="list-group-item" href="{% url 'maps' %}">Cal Poly Map</a>
      <a class="list-group-item" href="{% url 'pamphlet' %}">PCW 2018 Pamphlet</a>
      <a class="list-group-item" href="{% url 'schedule' %}">Event Schedule</a>
    </ul>
  </div>
  <main class="bmd-layout-content">
    <!-- Individual Page Content -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a data-toggle="tab" class="nav-link active" href="#org-data">Organizations</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" class="nav-link" href="#pcw-data">Polycultural Weekend</a>
      </li>
    </ul>

    <div class="tab-content">
     <div class="tab-pane show active" id="org-data"  role="tabpanel">
        <canvas id="orgChart" width="400" height="400"></canvas>
        <script>
          var org_ctx = document.getElementById("orgChart").getContext('2d');

          var orgChart = new Chart(org_ctx, {
              type: 'horizontalBar',
              data: {
                labels: ["aKDPhi", "BSU", "CCC", "CCF", "Chi Delta Theta",
                                 "CSA", "Gamma Zeta Alpha", "HBSA", "HHCC", "Imagen", "JSA",
                                 "KASA", "Lambda Phi Epsilon", "Lambda Sigma Gamma", 
                                 "Lambda Theta Nu", "Latinos in Ag", "MEXA", "NAK", "NSBE",
                                 "Omega Xi Delta", "PCE", "QTPOC", "SHPE", "Sigma Omega Nu",
                                 "SLO Breakers", "TVSA"],
                datasets: [{
                    label: 'Signed In',
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    data: [12, 19, 3, 5, 2,
                           12, 19, 3, 5, 2,
                           12, 19, 3, 5, 2,
                           12, 19, 3, 5, 2,
                           12, 19, 3, 5, 2,
                           12]
                }, {
                    label: 'Not Signed In',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    data: [12, 19, 3, 5, 2,
                           12, 19, 3, 5, 2,
                           12, 19, 3, 5, 2,
                           12, 19, 3, 5, 2,
                           12, 19, 3, 5, 2,
                           12]
                }]

            },
            options: {
              tooltips: {
                mode: 'index',
                intersect: false
              },
              responsive: true,
              scales: {
                xAxes: [{
                  stacked: true
                }],
                yAxes: [{
                  stacked: true
                }]
              }
            }
          });
        </script>
      </div>
      <div class="tab-pane fade" id="pcw-data"  role="tabpanel">
        <canvas id="pcwChart" width="400" height="400"></canvas>
        <script>
          var org_ctx = document.getElementById("pcwChart").getContext('2d');
          var pcwChart = new Chart(org_ctx, {
            type: 'doughnut',
            data: {
              datasets: [{
                backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 99, 132, 0.2)'],
                data: [156, 72]
              }],
              labels: ["Signed In", "Not Signed In"]
            }
        });
        </script>
    </div>
  </div>

  </main><!-- Close Page Content -->
</div><!-- Close Drawer -->

<!-- Dependencies for Bootstrap Material Design -->
<!-- jQuery first, then tether, then Bootstrap Material Design JS. -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>

<script>
  $('body').bootstrapMaterialDesign();
</script> 
</body>

</html>