{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Maps</title>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Material Design fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <style>  
       #map {
        top: 10px;
        height: 400px;
        width: 100%;
       }

  </style>

</head>

<body>

  <!-- Bootstrap Material Design Drawer w/ Overlay -->
  <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
    <header class="bmd-layout-header">
      <div class="navbar navbar-light bg-faded">
        <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
          <span class="sr-only">Toggle drawer</span>
          <i class="material-icons">menu</i>
        </button>
        <ul class="nav navbar-nav">
          <li class="nav-item nav-header">Cal Poly Map</li>
        </ul>
      </div>
    </header>
    <div id="dw-s2" class="bmd-layout-drawer bg-faded">
      <header>
        <a class="navbar-brand"></a>
        <img src="{% static 'img/pcwplanelogo.png' %}" class="img-fluid" alt="My responsive image.">
      </header>
      <ul class="list-group">
        <a class="list-group-item">PCW 2018</a>
        {% if request.user.is_staff %}
        <a class="list-group-item" href="{% url 'data' %}">{% trans 'Coordinator View' %}</a>
        {% endif %}
        <a class="list-group-item" href="{% url 'profile' %}">{{user.first_name}} {{user.last_name}}</a>
        <a class="list-group-item" href="{% url 'maps' %}">Cal Poly Map</a>
        <a class="list-group-item" href="{% url 'pamphlet' %}">PCW 2018 Pamphlet</a>
        <a class="list-group-item" href="{% url 'schedule' %}">Event Schedule</a>
        <a class="list-group-item" href="{% url 'logout' %}">Logout</a>
      </ul>
    </div>
    <main class="bmd-layout-content">

      <!-- BEGINNING OF PAGE CONTENT -->
      <div class="container-fluid">
        <div class="row"> <!-- Give this div your desired background color -->
          <div class="container">
            <div class="row">
              <div class="col-md-12">

<!-- Map here -->
    <div id="map"></div>
    <script>
      function initMap() {
        var baker = {lat: 35.3010634, lng: -120.6611216};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: baker
        });
        var marker = new google.maps.Marker({
          position: baker,
          map: map         
        });

        {% for event in Events %}
          marker = new google.maps.Marker({
            position: new google.maps.LatLng({{event.lat}}, {{event.lng}}),
            map: map
          });
        {% endfor %}
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHtEbTeHezbK8kZhio-SZLUXVJPsaFKmE&callback=initMap">
    </script>          

                <!-- Event Selection -->                                
                <div class="btn-group">
                  <button class="btn btn-danger btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose event
                  </button>
                  <div class="dropdown-menu">
		              {% for day in days %}   	
                      <h6 class="dropdown-header">{{day.day_text}}</h6>
	                    {% for event in events %}
                        {% if event.day == day %}
                          <a class="dropdown-item" href="/events/{{event.id}}/">{{event.title}}</a>
                        {% endif %}
		                  {% endfor %}
                  {% endfor %}
                 </div>
               </div><!-- Close Event Selection -->

               <!-- Event Table-->
               <table class="table">
                <thead>
                  <tr>
                    <th>Event</th>
                    <th>Location</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                {% for event in Events %}
	              <tr>
                    <td>{{event.title}}</td>
                    <td>{{event.location}}</td>
                    <td>{{event.startTime}}</td>
                    <td>{{event.endTime}}</td>
                </tr>
                {% endfor %}
		            </tbody>		
              </table><!-- Close Event Table-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </main><!-- End of Page Content -->
</div><!-- Close Drawer -->


<!-- Dependencies for Bootstrap Material Design -->
<!-- jQuery first, then tether, then Bootstrap Material Design JS. -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
  $('body').bootstrapMaterialDesign();
</script> 

</body>

</html>
