<!DOCTYPE html>
<html lang="en">
<head>
 <title>Schedules</title>
 <!-- Required meta tags always come first -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta http-equiv="x-ua-compatible" content="ie=edge">

 <!-- Material Design fonts -->
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Bootstrap Material Design -->
<link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

<link rel="stylesheet" type="text/css" href="style.css">

</head>


<body>
<!-- Bootstrap Material Design Drawer w/ Overlay -->
<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
  <header class="bmd-layout-header">
    <div class="navbar navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s2">
        <span class="sr-only">Toggle drawer</span>
        <i class="material-icons">menu</i>
      </button>
      <ul class="nav navbar-nav">
        <li class="nav-item">Event Schedule</li>
      </ul>
    </div>
  </header>
  <div id="dw-s2" class="bmd-layout-drawer bg-faded">
    <header>
      <a class="navbar-brand"></a>
      <img src="pcwplanelogo.png" class="img-fluid" alt="My responsive image.">
    </header>
    <ul class="list-group">
      <a class="list-group-item">PCW 2018</a>
      <a class="list-group-item" href="maps.html">Cal Poly Map</a>
      <a class="list-group-item" href="pamphlet.html">PCW 2018 Pamphlet</a>
      <a class="list-group-item" href="schedule.html">Event Schedule</a>
    </ul>
  </div>
  <main class="bmd-layout-content">

    <!-- Individual Page Content -->

    <!-- Day Navigation Bar -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a data-toggle="tab" class="nav-link active" href="#friday">Day 1</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" class="nav-link" href="#saturday">Day 2</a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" class="nav-link" href="#sunday">Day 3</a>
      </li>
    </ul>

    <!--Day One Schedule Table-->
    <div class="tab-content">
      <div class="tab-pane show active" id="friday"  role="tabpanel">

        <!-- Event information -->
        <table class="table">
          <thead>
            <tr>
              <th>Event</th>
              <th>Location</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
	  {% for event in events %}
            <tr>
              <td>{{event.title}}</td>
              <td>{{event.location}}</td>
              <td>{{event.startTime}}</td>
	      <td>{{event.endTime}}</td>
            </tr>
          {% end for %} 
          </tbody>
        </table>
      </div><!-- Close Friday Schedule Table -->

      <!-- Saturday Schedule Table -->
      <div class="tab-pane fade" id="saturday"  role="tabpanel">
        <!-- Event information -->
        <table class="table">
          <thead>
            <tr>
              <th>Event</th>
              <th>Location</th>
	      <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{event.title}}</td>
              <td>{{event.location}}</td>
              <td>{{event.startTime}}</td>
              <td>{{event.endTime}}</td>
            </tr>
          {% end for %} 
          </tbody>
        </table>
      </div> <!-- close Saturday Schedule Table  -->

      <!-- Sunday Schedule Table -->
      <div class="tab-pane fade" id="sunday"  role="tabpanel">
        <!-- Event information -->
        <table class="table">
          <thead>
            <tr>
              <th>Event</th>
              <th>Location</th>
              <th>Start Time</th>
              <th>End Time</th>
            </tr>
          </thead>
          <tbody>
          {% for event in events %}
            <tr>
              <td>{{event.title}}</td>
              <td>{{event.location}}</td>
              <td>{{event.startTime}}</td>
              <td>{{event.endTime}}</td>
            </tr>
          {% end for %} 
          </tbody>
        </table>
      </div><!-- Close Sunday Schedule Table -->
    </div><!-- Close Tab Content -->
  </main><!-- Close Page Content -->
</div><!-- Close Drawer -->

<!-- Dependencies for Bootstrap Material Design -->
<!-- jQuery first, then tether, then Bootstrap Material Design JS. -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
<script>
  $('body').bootstrapMaterialDesign();
</script> 
</body>

</html>
