{% load staticfiles %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        .nav-pills {
            background-color: #d3d3d3;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
        }

        .nav-item{
            overflow: hidden;
            min-width: 98.0%;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">

</head>

<body>

    <img class="screen-fit-logo" src="{% static 'img/pcwplanelogo.png' %}">


    <!-- Signup Table -->
    <div class="tab-pane show" id="signUp"  role="tabpanel">
        <!-- Event information -->
        <form class="center" method="post">
            {% csrf_token %}
                {% for field in form %}

                    <div class="form-group">
                        {{ field.label_tag}}
                        {% if field.name == "password1" %}
                            <small style="color: red">DO NOT USE YOUR CAL POLY PASSWORD.</small>
                        {% endif %}
                        {% if field.help_text %}
                            <small style="color: grey">{% autoescape off %} {{ field.help_text }} {% endautoescape %}</small>
                        {% endif %}
                        {{field|attr:"class:form-control"}}<br>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            <button type="submit" class="center btn btn-primary">Sign Up</button>
        </form>
    </div> <!-- close Signup Schedule Table  -->

    <!-- Day Navigation Bar -->
    <ul class="nav nav-pills">
        <li class="nav-item account-creation">
            <a data-toggle="tab" class="nav-link" onclick="location.href = '{% url 'login' %}'"/>Back</a>
        </li>
    </ul>

    <!-- Dependencies for Bootstrap Material Design -->
    <!-- jQuery first, then tether, then Bootstrap Material Design JS. -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdn.rawgit.com/HubSpot/tether/v1.3.4/dist/js/tether.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <script>
        $('body').bootstrapMaterialDesign();
    </script> 
</body>

</html>
