.navbar {
	background-color: #2b7434;
}

.material-icons {
	color: white;
}
.bmd-layout-drawer {
	background-color: #c19f49;
}
.list-group-item {
	color: white;
}
.drawer-header {
	color: white;
}

.screen-fit-logo {
	max-height: 65%;
	max-width: 65%;
	margin: auto;
	display: block;
}

.tab-content {
	display: inline-block;
	width: 100%;
	margin-bottom: 75px;
}

.nav-pills {
	display: inline-flex;
	position: fixed;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.nav-item a {
	background-color: #2b7434;
	color: white;
}

.nav-item.nav-header {
	min-width: 80%;
	color: white;
}

.nav-item.schedule-tab {
	min-width: 33.3%;
	max-width: 100%;
	color: white;
}

.nav-item.account-creation {
	width: 100%;
	color: white;
}

.nav-item.data-tabs {
	min-width: 50%;
	max-width: 100%;
	color: white;
}

.nav-item a.nav-link.active,
 .nav-item a.nav-link.active:focus,
 .nav-item a.nav-link.active:hover {
	background-color: #c19f49;
}

#signUp {
	margin-bottom: 90px;
	margin-left: 10px;
	margin-right: 10px;
}

#login {
	margin-left: 10px;
	margin-right: 10px;
}

.btn-primary, .bmd-label-static {
    color: #2b7434 !important;
}

.btn-primary:active, .btn-primary:focus {
	color: #c19f49 !important;
}

.confirm-message {
	width: 100%;
	border-bottom: 50px;
}
